*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

.main{
    width: 20%;
    margin: 22px auto 0 auto;
    background-color: white;
    border: 1px solid rgb(207, 210, 214);
}

.main .date{
    color: rgb(120, 123, 128);
}

.card-photo .photo{
    width: 100%;
}

.content{
    padding: 24px 16px;
    
}

.content .comments{
    margin-left: 22px;
    text-decoration: none;
    color: rgb(120, 123, 128)   ;
}

.content .content-header{
        margin-top: 10px;
        margin-bottom: 20px;
}

.content .description{
    color: rgb(151, 147, 147);
    margin-bottom: 20px;
}

.more-info{
    text-decoration: none;
    color: rgb(120, 123, 128);
}